@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


:root {
    --background: #141414;
    --foreground: #ededed;
    --secondary: #00F2FE;
    --primary: #4169e1;
    --btn-primary-hover: #365acb;
  --btn-primary-focus: #314fb4;
  --btn-primary-ring: rgba(65, 105, 225, 0.5);
  --btn-primary-active: #2c46a3;
  --btn-primary-disabled: #b0c4ff;
  }

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

.hero-bg-gradient {
  background: radial-gradient(circle at 50% 50%, #1A1A24 0%, var(--background) 100%);

  background-image: linear-gradient(#202020 1px, transparent 1px), 
                    linear-gradient(90deg, #202020 1px, transparent 1px);
  background-size: 50px 50px;
}
